<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>



<%= form_tag('/follow', method: :post) do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= label_tag :password %>
  <%= text_field_tag :password %>
  <%= submit_tag "送信" %>
<% end %>



